@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
    font-family: 'Raleway', sans-serif;
    background-color: rgb(201, 201, 201);
    color: rgb(191, 189, 189);
    text-align: center;
}

h1 {
    background-color: #3D4D51;
}

img {
    height: 250px;
    width: auto;
    border: solid #ead06d 10px;
}

button {
    background-color: #C4D6C0;
    height: 50px;
    width: 150px;
    color: #3D4D51;
    font-size: 1em;
    border: solid #3D4D51 2px;
}

footer {
    color: #935F45;
}
